export(cv.spring)
export(diffOp)
export(spring)
export(spring.generator)
exportClasses(criterion)
exportClasses(model)
exportClasses(spring)
exportMethods(deviance)
exportMethods(fitted)
exportMethods(loglik)
exportMethods(model)
exportMethods(objective)
exportMethods(pen.crit)
exportMethods(plot)
exportMethods(predict)
exportMethods(print)
exportMethods(residuals)
exportMethods(show)
import(Matrix)
import(Rcpp)
import(ggplot2)
import(grid)
import(gridExtra)
import(methods)
import(parallel)
import(reshape2)
import(scales)
importFrom(stats,deviance)
importFrom(stats,fitted)
importFrom(stats,predict)
importFrom(stats,residuals)
useDynLib(spring)
